.header
{
    margin-top: 50px;
    padding-top: 15px;
}
.centered
{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}
#title
{
	font-size: 2.75em !important;
	display: block;
}
.cloud-parent
{
	position: relative;
	z-index: -1;
	bottom: 62px;
}
#cloud-img
{
	max-width: 120px;
	height: auto;
	position: relative;
	right: 163px;
	bottom: 27px;
	z-index: -3;
	animation: cloud 5s infinite;
	-webkit-animation: cloud 5s infinite;
	-moz-animation: cloud 5s infinite;
}



@keyframes cloud
{
	0% {max-width: 120px}
	50% {max-width: 125px}
	100% {max-width: 120px}
}

@-webkit-keyframes cloud
{
	0% {max-width: 120px}
	50% {max-width: 125px}
	100% {max-width: 120px}
}

@-moz-keyframes cloud
{
	0% {max-width: 120px}
	50% {max-width: 125px}
	100% {max-width: 120px}
}



